// Sizes
$site-width: 1110px;


// Colors
$cream: #fbf9f1;
$dark-green: rgb(42, 96, 73);
$light-green: rgb(71, 158, 121);
$light-green2: rgb(101, 219, 169);
$light-green3: rgb(19, 87, 0);
$black1: rgb(25, 25, 25);
$white: rgb(255, 255, 255);


// Fonts
$primary-font-bold: "Helvetica W01 Bold", serif;
$primary-font-light: "Helvetica W01 Light", serif;
$secondary-font: "Poppins Semi-Bold", sans-serif;
