@use 'mixins' as *;


@media (max-width: 1100px) {



  header {
    padding: 32px 20px 39px 20px;

    nav.main-nav {
      display: none;
    }
    div.search {
      display: none !important;
    }
    div.mobile-search {
      display: flex;
    }
    div.login {
      display: none;
    }
    div.hamburger {
      display: block !important;
    }
  }




  main {
    margin: 200px 0 0 0 ;

    section {

      &.slide {
        div.overlay-block {
          position: static;
          align-items: center;
          gap: 20px;
          margin: 0;
          padding-bottom: 30px;
          h1 {
            margin: 0;
          }
          p {
            text-align: center;
            margin: 0;
          }
        }
      }

      &.deals {
        padding: 93px 30px 50px 30px;

        div.section-wrapper {

          div.product-wrapper {
            grid-template-columns: 1fr 1fr 1fr;
            gap: 30px;
          }
        }
      }

      &.grab-n-go {
        div.product-wrapper {
          grid-template-columns: 1fr 1fr 1fr;
        }
      }


      &.additional-info {
        grid-template-columns: 1fr;
        div {
          border: none;
        }
      }


    }

  }





  footer {
    grid-template-columns: 1fr;
    padding: 73px 20px 57px 20px;

    div.store {
      align-items: center;
    }

    div.address {
      align-items: center;
      p {
        text-align: center;
      }
    }

    div.hours {
      align-items: center;
    }

    div.contact {
      align-items: center;
    }

    div.copyright {
      grid-column: 1;
      grid-row: 6;
      justify-content: center;
    }

    div.social {
      grid-column: 1;
      justify-content: center;
    }
  }

}






@media (max-width: 800px) {
  main {
    section {

      &.deals {
        padding: 93px 30px 50px 30px;

        div.section-wrapper {

          div.product-wrapper {
            grid-template-columns: 1fr 1fr;
            gap: 30px;
          }
        }
      }

      &.grab-n-go {
        div.product-wrapper {
          grid-template-columns: 1fr 1fr;
        }
      }

      &.contact {
        div.contact-wrapper {
          grid-template-columns: 1fr;
          div {
            @include flex(center, center, 0, column);
          }
        }
        form.form-wrapper {
          grid-template-columns: 1fr;
          div.textarea {
            grid-column: 1;
          }
          div.submit-button {
            grid-column: 1;
          }
        }
      }

    }

  }
}





@media (max-width: 580px) {

  main {
    section {
      padding: 73px 20px 50px 20px;

      &.slide {
        div.overlay-block {
          h1 {
            text-align: center;
          }
          p {
            text-align: center;
            font-size: 40px;
          }
        }
      }

      &.deals {
        padding: 93px 30px 50px 30px;
        div.section-wrapper {
          div.arrow {
            display: none;
          }
          div.product-wrapper {
            grid-template-columns: 1fr;
            gap: 30px;
          }
        }
      }

      &.grab-n-go {
        div.product-wrapper {
          grid-template-columns: 1fr;
        }
      }

    }
  }

}




@media (max-width: 340px) {
  header {
    aside {
      div.left {
        div.logo-wrapper {
          a {
            p {
              display: none;
            }
          }
        }
      }
    }
  }
}
