body {
  background-color: #fbf9f1;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  max-width: 1110px;
  box-sizing: border-box;
  padding: 52px 90px 39px 90px;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: #fbf9f1;
}
header aside {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-direction: row;
}
header div.left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  flex-direction: row;
}
header div.left div.logo-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  flex-direction: row;
}
header div.left div.logo-wrapper img {
  width: 33px;
  height: 33px;
  padding-bottom: 6px;
}
header div.left div.logo-wrapper a {
  text-decoration: none;
}
header div.left div.logo-wrapper p {
  font-family: "Helvetica W01 Bold", serif;
  font-size: 25px;
  color: rgb(42, 96, 73);
}
header div.left nav ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  flex-direction: row;
}
header div.left nav ul li {
  list-style-type: none;
}
header div.left nav ul a {
  font-family: "Helvetica W01 Light", serif;
  font-size: 14px;
  text-decoration: none;
  color: rgb(25, 25, 25);
}
header div.left nav ul a.active {
  color: rgb(71, 158, 121);
}
header div.left nav ul a:hover {
  color: rgb(71, 158, 121);
}
header div.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  flex-direction: row;
}
header div.right div.search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: row;
  width: 169px;
  height: 44px;
  border-bottom: 1px solid rgb(42, 96, 73);
}
header div.right div.search input {
  height: 42px;
  border: 0;
  outline: none;
  font-family: "Helvetica W01 Light", serif;
  font-size: 14px;
  background-color: transparent;
}
header div.right div.search img {
  width: 14px;
  height: 14px;
}
header div.right div.search:hover {
  border-bottom: 2px solid rgb(42, 96, 73);
}
header div.right div.login a {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  flex-direction: row;
  text-decoration: none;
  color: rgb(25, 25, 25);
}
header div.right div.login a img {
  width: 24px;
  height: 24px;
}
header div.right div.login a p {
  font-family: "Helvetica W01 Light", serif;
  font-size: 14px;
  text-decoration: none;
}
header div.right div.cart {
  width: 24px;
  height: 29px;
}
header div.right div.hamburger {
  display: none;
}
header div.right div.hamburger a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: row;
  text-decoration: none;
}
header div.right div.hamburger img {
  width: 22px;
  height: 22px;
}
header div.mobile-search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: row;
  display: none;
  width: 100%;
  height: 44px;
  border-bottom: 1px solid rgb(42, 96, 73);
}
header div.mobile-search input {
  width: 100%;
  height: 42px;
  border: 0;
  outline: none;
  font-family: "Helvetica W01 Light", serif;
  font-size: 14px;
  background-color: transparent;
}
header div.mobile-search img {
  width: 14px;
  height: 14px;
}
header div.mobile-search:hover {
  border-bottom: 2px solid rgb(42, 96, 73);
}
header div.overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  padding: 62px 20px 39px 60px;
  background-color: #fbf9f1;
}
header div.overlay.active {
  display: block;
}
header div.overlay div.toggle-button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0;
  flex-direction: row;
}
header div.overlay div.toggle-button a {
  text-decoration: none;
}
header div.overlay div.toggle-button img {
  width: 24px;
  height: 24px;
}
header div.overlay div.toggle-login a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  flex-direction: row;
  text-decoration: none;
  color: rgb(25, 25, 25);
}
header div.overlay div.toggle-login a img {
  width: 24px;
  height: 24px;
}
header div.overlay div.toggle-login a p {
  font-family: "Helvetica W01 Light", serif;
  font-size: 14px;
  text-decoration: none;
}
header div.overlay nav.toggle-nav ul {
  padding-left: 30px;
}
header div.overlay nav.toggle-nav ul li {
  list-style-type: none;
}
header div.overlay nav.toggle-nav ul a {
  text-decoration: none;
  font-family: "Poppins Semi-Bold", sans-serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 40px;
  color: rgb(42, 96, 73);
}

main {
  width: 100%;
  max-width: 1110px;
  margin: 170px 0 0 0;
  padding: 0;
  box-sizing: border-box;
}
main h2 {
  height: 33.5px;
  margin: 0;
  font-family: "Helvetica W01 Bold", serif;
  font-size: 28px;
  letter-spacing: 1.4px;
  text-align: center;
  color: rgb(42, 96, 73);
}
main p {
  font-family: "Helvetica W01 Light", serif;
  font-size: 15px;
  text-align: center;
  color: rgb(25, 25, 25);
}
main article.product {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: column;
}
main article.product a {
  text-decoration: none;
}
main article.product span {
  text-decoration: line-through;
}
main article.product p {
  margin: 7px;
}
main article.product div.image {
  width: 100%;
}
main article.product div.image img {
  width: 100%;
}
main article.product div.separator {
  width: 20px;
  margin: 5px;
  border-top: 1px solid rgb(25, 25, 25);
}
main article.product div.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: row;
  width: 100%;
  margin-top: 7px;
  border: 1px solid rgb(25, 25, 25);
}
main article.product div.quantity input {
  width: 100px;
  height: 38px;
  box-sizing: border-box;
  font-family: "Helvetica W01 Light", serif;
  font-size: 16px;
  text-align: center;
  border: none;
  outline: none;
}
main article.product div.quantity input::-webkit-outer-spin-button,
main article.product div.quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
main article.product div.quantity button {
  border: none;
  margin: 0;
  padding-top: 2px;
  font-size: 25px;
}
main article.product button {
  width: 100%;
  height: 40.5px;
  margin-top: 12px;
  padding: 8px 16px;
  box-sizing: border-box;
  font-family: "Helvetica W01 Light", serif;
  font-size: 15px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(25, 25, 25);
  outline: none;
}
main article.product button:hover {
  color: grey;
  cursor: pointer;
}
main section {
  margin: 0;
  box-sizing: border-box;
  padding: 93px 90px 50px 90px;
}
main section.slide {
  padding: 0;
  margin: 0;
  position: relative;
}
main section.slide img {
  width: 100%;
}
main section.slide div.overlay-block {
  position: absolute;
  top: 0;
  left: 0;
  margin: 70px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 0;
  flex-direction: column;
}
main section.slide div.overlay-block h1 {
  font-family: "Helvetica W01 Bold", serif;
  font-size: 50px;
  color: rgb(42, 96, 73);
}
main section.slide div.overlay-block p {
  margin-top: 0;
  padding: 0;
  width: 400px;
  font-family: "Helvetica W01 Light", serif;
  font-size: 50px;
  text-align: left;
  color: rgb(42, 96, 73);
}
main section.slide div.overlay-block button {
  width: 141px;
  height: 40px;
  font-family: "Helvetica W01 Light", serif;
  font-size: 14px;
  background-color: rgb(71, 158, 121);
  border: none;
  outline: none;
}
main section.slide div.overlay-block button:hover {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(71, 158, 121);
  cursor: pointer;
}
main section.deals {
  padding: 93px 30px 50px 30px;
}
main section.deals div.section-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: row;
  margin-top: 40px;
}
main section.deals div.section-wrapper div.arrow img {
  width: 30px;
  height: 32px;
}
main section.deals div.section-wrapper div.product-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  box-sizing: border-box;
}
main section.separator {
  padding: 33px 90px 50px 90px;
}
main section.separator div.section-separator {
  width: 100%;
  height: 1px;
  border-top: 1px solid rgb(25, 25, 25);
}
main section.grab-n-go {
  background-color: rgb(255, 255, 255);
}
main section.grab-n-go div.product-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  box-sizing: border-box;
}
main section.additional-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
main section.additional-info div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: column;
  box-sizing: border-box;
  padding: 30px;
  border-right: 1px solid rgb(42, 96, 73);
}
main section.additional-info div:nth-child(3) {
  border: none;
}
main section.additional-info img {
  height: 64px;
  padding-bottom: 20px;
}
main section.additional-info h3 {
  height: 21.5px;
  margin: 0;
  padding-bottom: 10px;
  font-family: "Helvetica W01 Bold", serif;
  font-size: 18px;
  text-align: center;
  color: rgb(42, 96, 73);
}
main section.additional-info p {
  font-size: 14px;
}
main section.contact {
  background-color: rgb(255, 255, 255);
  margin-bottom: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
  flex-direction: column;
}
main section.contact p {
  max-width: 500px;
  line-height: 24px;
}
main section.contact h2 {
  margin-bottom: 20px;
}
main section.contact h4 {
  font-family: "Helvetica W01 Light", serif;
  font-size: 13px;
  color: rgb(19, 87, 0);
  margin: 0 0 30px 0;
}
main section.contact div.contact-wrapper {
  width: 100%;
  max-width: 647px;
  margin-top: 100px;
  padding-top: 100px;
  box-sizing: border-box;
  border-top: 1px solid rgb(25, 25, 25);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}
main section.contact div.contact-wrapper p {
  text-align: left;
  margin: 0;
}
main section.contact form.form-wrapper {
  width: 100%;
  max-width: 647px;
  margin-top: 70px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
main section.contact form.form-wrapper p {
  margin: 0;
  text-align: left;
}
main section.contact form.form-wrapper input {
  width: 100%;
  height: 33px;
  box-sizing: border-box;
  padding: 3px 3px 3px 12px;
  font-family: "Helvetica W01 Light", serif;
  font-size: 14px;
  border: 1px solid rgb(42, 96, 73);
  outline: none;
}
main section.contact form.form-wrapper input:hover {
  border: 2px solid rgb(42, 96, 73);
}
main section.contact form.form-wrapper div.textarea {
  width: 100%;
  grid-column: 1/span 2;
}
main section.contact form.form-wrapper div.textarea textarea {
  width: 100%;
  padding: 3px 3px 3px 12px;
  box-sizing: border-box;
  font-family: "Helvetica W01 Light", serif;
  font-size: 14px;
  border: 1px solid rgb(42, 96, 73);
  outline: none;
  resize: none;
}
main section.contact form.form-wrapper div.textarea textarea:hover {
  border: 2px solid rgb(42, 96, 73);
}
main section.contact form.form-wrapper div.submit-button {
  box-sizing: border-box;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: row;
  grid-column: 1/span 2;
}
main section.contact form.form-wrapper div.submit-button button {
  width: 141px;
  height: 40px;
  font-family: "Helvetica W01 Light", serif;
  font-size: 14px;
  background-color: rgb(71, 158, 121);
  border: none;
  outline: none;
}
main section.contact form.form-wrapper div.submit-button button:hover {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(71, 158, 121);
  cursor: pointer;
}
footer {
  width: 100%;
  max-width: 1110px;
  margin: 31px 0 46px 0;
  padding: 93px 90px 57px 90px;
  box-sizing: border-box;
  background-color: rgb(42, 96, 73);
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 3fr;
  gap: 30px;
}
footer h4 {
  font-family: "Helvetica W01 Light", serif;
  font-size: 13px;
  color: rgb(255, 255, 255);
  text-transform: capitalize;
  margin: 0 0 30px 0;
}
footer a {
  text-decoration: none;
}
footer p {
  margin: 0;
  padding: 0;
  font-family: "Helvetica W01 Light", serif;
  font-size: 14px;
  color: rgb(255, 255, 255);
  line-height: 25.2px;
  overflow-wrap: break-word;
}
footer div.store {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 0;
  flex-direction: column;
}
footer div.address {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
  flex-direction: column;
}
footer div.hours {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
  flex-direction: column;
}
footer div.contact {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
  flex-direction: column;
}
footer div.contact input {
  width: 100%;
  max-width: 300px;
  height: 33px;
  box-sizing: border-box;
  padding: 3px 3px 3px 21px;
  margin-bottom: 7px;
  font-family: "Helvetica W01 Light", serif;
  font-size: 13px;
  color: rgb(255, 255, 255);
  background-color: rgb(42, 96, 73);
  border: 1px solid rgb(255, 255, 255);
  outline: none;
}
footer div.contact input:hover {
  border: 3px solid rgb(255, 255, 255);
}
footer div.contact button {
  width: 100%;
  max-width: 300px;
  height: 33px;
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  font-family: "Helvetica W01 Light", serif;
  font-size: 15px;
}
footer div.contact button:hover {
  background-color: rgb(42, 96, 73);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  cursor: pointer;
}
footer div.copyright {
  grid-column: 1/3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
  flex-direction: row;
}
footer div.copyright p {
  font-family: "Helvetica W01 Light", serif;
  font-size: 14px;
  color: rgb(255, 255, 255);
  text-align: center;
}
footer div.social {
  grid-column: 3/span 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 25px;
  flex-direction: row;
}
footer div.social img {
  width: 24px;
  height: 24px;
}

/*# sourceMappingURL=style.css.map */
